aiohttp                   
appdirs                   
async-timeout             
bottom                    
certifi               
chardet                  
demjson                   
dicttoxml                 
future                   
html5lib            
lxml                     
multidict                 
packaging                  
pip                       
pyparsing                 
python-telegram-bot       
requests                 
romkan                    
setuptools               
six                      
SQLAlchemy                
urllib3                    
webencodings              
wheel                    
yarl                